.stamp-image-container {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  height: 108px;
  width: 69px;
  overflow: hidden;
}

.stamp-thumbnail {
  height: 118px;
  width: auto;
}
