@import "tailwindcss";

:root {
  --color-middle: #cbb28e;
  --color-primary-dark: #6b5347;
  --color-primary-light: #f2e5d1;
}

body {
  font-family: "Overpass Mono", monospace !important;
  margin: 2em 0 !important;
  background-color: var(--color-primary-light) !important;
  color: var(--color-primary-dark) !important;
}

#app {
  max-width: 1440px;
  margin: 0 auto;
  width: 90vw;
}

#modal {
  position: fixed;
  z-index: 1000;
  display: none;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(107, 83, 71, 0.4);
}

.modal-content {
  top: 7.5em;
  position: relative;
  width: 90vw;
  height: 80vh;
  margin: auto;
  background-color: var(--color-primary-light);
  border: 1px solid var(--color-primary-dark);
}

.close-button-container {
  float: right;
}

.modal-image-container {
  overflow: scroll;
}

.modal-image-container img {
  height: 100%;
  max-width: none;
}

.tall-modal-image img {
  height: auto;
  min-width: 100%;
}

#modal-text {
  padding: 2em;
}

#intro-section {
  text-align: center;
}

text,
button {
  font-family: "Overpass Mono", monospace;
  fill: var(--color-primary-dark);
  text-transform: capitalize;
  font-size: 0.875em;
}

h1 {
  font-family: "Fraunces", serif;
  font-weight: 400;
  font-style: italic;
  font-size: 4em;
  margin-bottom: 0;
}

h2 {
  font-family: "Fraunces", serif;
  font-weight: 400;
  font-style: italic;
  font-size: 1.5em;
  margin: 0;
}

p {
  line-height: 1.65;
  margin: 0.25em 0;
  font-size: 0.875em;
}

p a {
  color: var(--color-primary-dark);
  text-decoration: none;
  border-bottom: 1px solid var(--color-primary-dark);
}

p a:hover {
  color: var(--color-middle);
}

#entry-button {
  background-color: var(--color-primary-light);
  color: var(--color-primary-dark);
  border: 1px solid var(--color-primary-dark);
  padding: 0.25em 3em;
  cursor: pointer;
  margin-top: 1em;
  border-radius: 2px;
}

#entry-button:hover {
  background-color: var(--color-middle);
}

.intro-heading {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
  display: flex;
  align-items: flex-end;
}

.stamp-example-container {
  display: flex;
  align-items: flex-end;
}

#data .stamp-example-container {
  align-items: flex-start;
}

.intro-text {
  position: relative;
  top: 10em;
}

.historical-context {
  max-width: 28em;
  padding-right: 1em;
  flex: 1;
}

#data {
  display: none;
}

.data-title {
  margin-bottom: 2em;
}

.top-heading-container {
  padding: 1em 0;
}

.about-heading {
  font-weight: bold;
  margin-top: 2em;
}

#about-text {
  margin-bottom: 2em;
}

.col-heading {
  cursor: pointer;
}

.col-heading p:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
}

.expanded-heading {
  border-top: 1px solid var(--color-middle);
  padding: 0 122px;
  visibility: hidden;
  max-height: 0;
  transition: max-height 0.3s ease-in-out;
}

.open-expanded-heading {
  opacity: 1;
  visibility: visible;
  max-height: 500px;
  transition: max-height 0.2s ease-in-out;
}

.data-heading {
  position: sticky;
  top: 0;
  background-color: var(--color-primary-light);
  border-bottom: 1px solid var(--color-middle);
  z-index: 100;
  padding: 1em 0 0 0;
  align-items: flex-start;
}

.attr-heading {
  margin-top: 0;
  font-weight: bold;
  margin-bottom: 0.5em;
  display: inline-block;
}

.carrot {
  display: inline-block;
  transform: none;
  transition: transform 0.1s ease-in-out;
}

.rotated {
  transform: rotate(-180deg);
  transition: transform 0.1s ease-in-out;
}

.chart-dates-results {
  margin-top: 5em;
  margin-bottom: 0.5em;
}

.data-content-wrapper {
  margin-top: 2em;
  position: relative;
}

#slider-container {
  flex-shrink: 0;
  width: 300px;
  pointer-events: all;
  align-self: flex-start;
  position: sticky;
  top: 0;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  z-index: 10;
}

#slider-container svg {
  pointer-events: all;
}

#bars-container {
  position: relative;
  padding-bottom: 2em;
}

.bar-container {
  display: flex;
  margin-bottom: 2rem;
  margin-left: 1em;
}

.stamp-image-container {
  height: 17.5em;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  cursor: pointer;
  position: relative;
}

.first-stamp-image-container {
  height: 10em;
  width: 8em;
  overflow: hidden;
  position: relative;
}

.first-stamp-thumbnail {
  position: absolute;
  bottom: 0;
}

.stamp-highlight-thumbnail {
  max-width: 100%;
  max-height: 17.5em;
  height: auto !important;
  width: auto !important;
  object-fit: contain;
  flex-shrink: 0;
}

/* Canvas-specific styling */
#stamp-highlight-canvas {
  width: 100%;
  height: 100%;
  display: block;
  transition: all 0.5s ease-in-out;
}

.show-loading {
  opacity: 1 !important;
}

.featured-stamp-loading {
  width: 100%;
  height: 100%;
  z-index: 100;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  position: absolute;
}

.horizontal-stamp-thumbnail,
.wide-stamp-thumbnail,
.widest-stamp-thumbnail {
  margin-top: 2em;
}

#entry-button {
  display: none;
}

.label {
  width: 110px;
  padding-right: 0.75em;
  text-align: right;
}

.theme-title {
  font-weight: bold;
}

.label p {
  margin: 0;
}

.bar {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 0%;
}

.stamp-image-container-small {
  height: 4em;
  width: 3em;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.stamp-image-container-small:hover {
  transform: scale(1.2);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;

  img {
    transform: scale(1.1);
    transition: all 0.1s ease-in-out;
  }
}

.square-stamp {
  width: 4em;
}

.horizontal-stamp {
  width: 5em;
}

.tall-stamp {
  width: 1.75em;
}

.wide-stamp {
  width: 5.5em;
}

.extra-wide-stamp {
  width: 6.5em;
}

.widest-stamp {
  width: 8em;
}

.stamp-image-small {
  height: 4.25em;
  width: auto;
  max-width: none;
}

#featured-materials {
  width: 85%;
  margin-top: 0.1em;
}

.material-item {
  display: inline-block;
  margin: 0 0.25em 0 0;
}

.material-item p {
  border: 1px solid var(--color-primary-dark);
  width: auto;
  padding: 0.1em 0.3em;
  border-radius: 2px;
  cursor: pointer;
  line-height: 1.2;
  display: inline;
}

.material-item p:hover:not(.selected-word) {
  background-color: var(--color-middle);
}

.filter-word {
  border: 1px solid var(--color-primary-dark);
  padding: 0.1em 0.3em;
  border-radius: 2px;
  cursor: pointer;
}

.filter-word:hover:not(.selected-word) {
  background-color: var(--color-middle);
}

.color-swatch {
  height: 2.5em;
  margin: 0.125em 0;
  cursor: pointer;
  transition: all 0.2s ease;

  @media (max-width: 1100px) {
    height: 1.9em;
  }
}

.color-swatch:hover:not(.selected) {
  opacity: 0.8;
}

.color-swatch.selected {
  outline: 1px solid var(--color-primary-dark);
  outline-offset: 1px;
}

#color-swatch-1 {
  width: 35%;
  margin-right: 5%;
}

#color-swatch-5 {
  width: 35%;
  margin-left: 5%;
}

#color-swatch-3 {
  width: 100%;
}

#color-swatch-2,
#color-swatch-4 {
  width: 60%;
}

.colors-container {
  display: flex;
  flex-wrap: wrap;
  width: 6.5em;

  @media (max-width: 1100px) {
    width: 100%;
  }
}

.postal-context tspan {
  font-weight: 400;
}

#data-title-text strong {
  cursor: pointer;
}

#data-title-text strong:hover {
  border-bottom: 1px solid var(--color-primary-dark);
}

.selected-color {
  outline: 1px solid var(--color-primary-dark);
  outline-offset: 1px;
}

.selected-word {
  background-color: var(--color-primary-dark);
  color: var(--color-primary-light);
}

#reset-filters {
  border: 1px solid var(--color-primary-dark);
  border-radius: 2px;
  padding: 0.25em;
  width: 100%;
  margin-top: 1em;
  display: none;
  cursor: pointer;
}
