@import "tailwindcss";

:root {
  --color-middle: #cbb28e;
  --color-primary-dark: #6b5347;
  --color-primary-light: #f2e5d1;
}

body {
  font-family: "Overpass Mono", monospace !important;
  margin: 2em 0 !important;
  background-color: var(--color-primary-light) !important;
  color: var(--color-primary-dark) !important;
}

#app {
  max-width: 1440px;
  margin: 0 auto;
  width: 90vw;
}

#intro-section {
  text-align: center;
}

text,
button {
  font-family: "Overpass Mono", monospace;
  fill: var(--color-primary-dark);
  text-transform: capitalize;
  font-size: 0.875em;
}

h1 {
  font-family: "Fraunces", serif;
  font-weight: 400;
  font-style: italic;
  font-size: 4em;
  margin-bottom: 0;
}

h2 {
  font-family: "Fraunces", serif;
  font-weight: 400;
  font-style: italic;
  font-size: 1.5em;
  margin: 0;
}

p {
  line-height: 1.65;
  margin: 0.25em 0;
  font-size: 0.875em;
}

p a {
  color: var(--color-primary-dark);
  text-decoration: none;
  border-bottom: 1px solid var(--color-primary-dark);
}

p a:hover {
  color: var(--color-middle);
}

#entry-button {
  background-color: var(--color-primary-light);
  color: var(--color-primary-dark);
  border: 1.5px solid var(--color-primary-dark);
  padding: 0.5em 3em;
  cursor: pointer;
  margin-top: 1em;
}

.intro-heading {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
  display: flex;
  align-items: flex-end;
}

.stamp-example-container {
  display: flex;
  align-items: flex-end;
}

#data .stamp-example-container {
  align-items: flex-start;
}

.intro-text {
  position: relative;
  top: 10em;
}

.historical-context {
  max-width: 28em;
  padding-right: 1em;
  flex: 1;
}

#data {
  display: none;
}

.data-title {
  margin-bottom: 2em;
}

.top-heading-container {
  padding: 1em 0;
}

.about-heading {
  font-weight: bold;
  margin-top: 2em;
}

#about-text {
  margin-bottom: 2em;
}

.col-heading {
  cursor: pointer;
}

.expanded-heading {
  border-top: 1px solid var(--color-middle);
  padding: 0 122px;
  visibility: hidden;
  max-height: 0;
  transition: max-height 0.3s ease-in-out;
}

.open-expanded-heading {
  opacity: 1;
  visibility: visible;
  max-height: 500px;
  transition: max-height 0.2s ease-in-out;
}

.data-heading {
  position: sticky;
  top: 0;
  background-color: var(--color-primary-light);
  border-bottom: 1px solid var(--color-middle);
  z-index: 100;
  padding: 1em 0 0 0;
  align-items: flex-start;
}

.attr-heading {
  margin-top: 0;
  font-weight: bold;
  margin-bottom: 0.5em;
  display: inline-block;
}

.carrot {
  display: inline-block;
  transform: none;
  transition: transform 0.1s ease-in-out;
}

.rotated {
  transform: rotate(-180deg);
  transition: transform 0.1s ease-in-out;
}

.chart-dates-results {
  margin-top: 5em;
  margin-bottom: 0.5em;
}

.data-content-wrapper {
  margin-top: 2em;
  position: relative;
}

#slider-container {
  flex-shrink: 0;
  width: 300px;
  pointer-events: all;
  align-self: flex-start;
  position: sticky;
  top: 0;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  z-index: 10;
}

#slider-container svg {
  pointer-events: all;
}

#bars-container {
  position: relative;
  padding-bottom: 2em;
}

.bar-container {
  display: flex;
  margin-bottom: 2rem;
  margin-left: 1em;
}

.stamp-image-container {
  height: 20em;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.first-stamp-image-container {
  height: 10em;
  width: 8em;
  overflow: hidden;
  position: relative;
}

.first-stamp-thumbnail {
  position: absolute;
  bottom: 0;
}

.stamp-thumbnail {
  height: 100%;

  @media screen and (max-width: 1400px) {
    height: auto;
  }
}

.horizontal-stamp-thumbnail {
  margin-top: 1.75em;
  height: auto;
}

#entry-button {
  display: none;
}

.label {
  width: 110px;
  padding-right: 0.75em;
  text-align: right;
}

.theme-title {
  font-weight: bold;
}

.label p {
  margin: 0;
}

.bar {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 0%;
}

.stamp-image-container-small {
  height: 4em;
  width: 3em;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square-stamp {
  width: 4em;
}

.horizontal-stamp {
  width: 5em;
}

.tall-stamp {
  width: 1.75em;
}

.wide-stamp {
  width: 5.5em;
}

.extra-wide-stamp {
  width: 6.5em;
}

.widest-stamp {
  width: 8em;
}

.stamp-image-small {
  height: 4.25em;
  width: auto;
  max-width: none;
}

#featured-materials {
  display: flex;
  flex-wrap: wrap;
}

.material-item {
  border: 1px solid var(--color-primary-dark);
  margin: 0 0.25em 0.25em 0;
  width: auto;
  padding: 0.1em 0.3em;
  border-radius: 2px;
  cursor: pointer;
  line-height: 1.2;
}

.filter-word {
  border: 1px solid var(--color-primary-dark);
  padding: 0.1em 0.3em;
  border-radius: 2px;
  cursor: pointer;
}

.color-swatch {
  height: 2.5em;
  margin: 0.125em 0;

  @media (max-width: 1100px) {
    height: 1.9em;
  }
}

#color-swatch-1 {
  width: 35%;
  margin-right: 5%;
}

#color-swatch-5 {
  width: 35%;
  margin-left: 5%;
}

#color-swatch-3 {
  width: 100%;
}

#color-swatch-2,
#color-swatch-4 {
  width: 60%;
}

.colors-container {
  display: flex;
  flex-wrap: wrap;
  width: 6.5em;

  @media (max-width: 1100px) {
    width: 100%;
  }
}

.postal-context tspan {
  font-weight: 400;
}

#data-title-text strong {
  cursor: pointer;
}

#data-title-text strong:hover {
  border-bottom: 1px solid var(--color-primary-dark);
}
